/* You can add global styles to this file, and also import other style files */
@use 'variaveis' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

// @use 'variaveis' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}