/* You can add global styles to this file, and also import other style files */
@use 'variaveis' as *;

<<<<<<< HEAD
=======
// @use deve vir ANTES de qualquer @import ou outra regra
@use 'variaveis' as *;

>>>>>>> 5a59bbea1997cc1c74c0955d48beb1d0ef4660f4
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}