<div class="text">
  <h1>Mesada</h1>
  <p>Aumente seu saldo concluido tarefas</p>
</div>

<div class="saldo-atual">
  <div class="flex-saldo">
    <span class="fas fa-wallet"></span>
    <div class="info-saldo">
      <p>Saldo Atual</p>
      <h2>R$ 0,00</h2>
  </div>
</div>

<div class="task-tabela">
  <div class="task-historic">
    <h2>Histórico de tarefas concluidas</h2>

    <div class="no-tasks">
      <span class="fas fa-inbox"></span>
      <p>Você ainda não concluiu nenhuma tarefa para ganhar mesada.</p>
    </div>

    <div class="task-list">
      <div class="task-item">
        <h3>Tarefa 1</h3>
        <p class="saldo-tarefa">R$ 0,00</p>
        <span class="fas fa-check"></span>
      </div>
    </div>
  </div>

  <div class="tabela-preco">
    <p>wddwdw</p>
  </div>
</div>