<!-- Navbar de Atalhos -->
<nav class="navbar-atalhos">
  <div class="atalhos-container">
    <div 
      *ngFor="let atalho of atalhos" 
      class="atalho-item"
      [class.ativo]="atalho.ativo"
      (click)="onAtalhoClick(atalho)"
    >
      <i [class]="atalho.icone" class="atalho-icone"></i>
      <span class="atalho-nome">{{ atalho.nome }}</span>
    </div>
  </div>
</nav>

<app-task-navbar *ngIf="showTaskNavbar"></app-task-navbar>
<app-family-navbar *ngIf="showFamilyNavbar"></app-family-navbar>
<app-calendary-navbar *ngIf="showCalendaryNavbar"></app-calendary-navbar>
<app-config-navbar *ngIf="showConfigNavbar"></app-config-navbar>