:host {

    .text {
        animation: fadeIn 0.3s ease-in-out;
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: #555;
        align-items: left;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5rem;
        padding-left: 2rem;

        h1 {
            font-size: 2rem;
            cursor: default;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}